.navbar{
    width:100%;
    /* background-color: #111; */
    position: fixed;
    height: 50px;
    margin: 0;
    padding: 20px;
    justify-content: space-between;
    background-image: linear-gradient(360deg,transparent,rgba(37,37,37,0.61),#111)
}
.logo{
    width:150px;
    position: fixed;
    left: 25px;
}

@media only screen and (max-width:1000px){
    .logo{
        width:100px;
    }
}