.row{
    margin-left:20px;
    color:#fff;
}
.poster{
    display:flex;
    padding :20px; 
    overflow-x: scroll;
    overflow-y:hidden;
}
.poster::-webkit-scrollbar{
    display:none;
}
.posters{
    max-height: 250px;
    margin-right:10px;
    cursor: pointer;
}
.smallPosters{
    max-height: 150px;
    margin-right:10px;
    cursor: pointer;
}

.smallPosters:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.posters:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}