.row{
    margin-left:20px;
    color:#fff;
}
.poster{
    display:flex;
    padding :20px; 
    overflow-x: scroll;
    overflow-y:hidden;
}
.poster::-webkit-scrollbar{
    display:none;
}
.posters{
    max-height: 250px;
    margin-right:10px;
    cursor: pointer;
}
.smallPosters{
    max-height: 150px;
    margin-right:10px;
    cursor: pointer;
}

.smallPosters:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.posters:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.yVideo{
    margin: 0 25%;
    width: 50%;
}
@media only screen and (max-width:1000px){
    .yVideo{
        margin: 0 15%;
        width: 70%;
    }
}
@media only screen and (max-width:768px){
    .posters{
        height:150px;
    }
}
